<div class="heading">
	<h1 >FAQ Page</h1>
	<section class="question">
		<div class="section-center">
			<article class="question">
				<p>Do YOu Work></p>
				<button type="button" class="question-btn">
					<span class="plus-icon">
						<i class="far fa-plus-square">
							
						</i>
					</span>
				</button>
			</article>
		</div>
	</section>
</div>


<style>
	
	.heading{
		text-align: center;
align-content: center;
	}
</style>