<h1>
How to Work with Stimulas?
</h1>

<ol>
    <li>
    Three atribute you need to set if working with stimulas i.e <b>Controller, Action and Targets</b>
    </li>
    <li></li>
    
</ol>

<%=link_to "Stimulas App",tasks_path%>
<style>
li {
    margin: 17px;
}

</style>